.common-button {
  padding: 12px 20px;
  gap: 8px;
  border-radius: 10px;
  background: #2bd17e;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.common-button.outline {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.full-width {
  width: 100%;
}
