.add-movies-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
}

.add-movies-container h2 {
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  color: #ffffff;
  margin-bottom: 6rem;
}

.movie-form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .movie-form-container {
    flex-direction: row;
  }
}

.drag-drop-area {
  max-height: 504px;
  max-width: 476px;
  border: 2px dashed #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.form-area {
  max-width: 365px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-area h2 {
  margin-bottom: 20px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

@media (min-width: 800px) {
  .form-buttons {
    flex-direction: row;
  }

  .form-area {
    max-width: auto;
  }
}
